<<<<<<< HEAD
.app {
    width: 320px;
    height: 568px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 2rem;
}

.top {
    height: 40px;
    padding: 0 20px;
}

.display {
    font-size: 80px;
    margin-bottom: 20px;
    text-align: right;
    font-weight: 300;
    padding: 1rem;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 8px;
=======
.app {
    width: 320px;
    height: 568px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 2rem;
}

.top {
    height: 40px;
    padding: 0 20px;
}

.display {
    font-size: 80px;
    margin-bottom: 20px;
    text-align: right;
    font-weight: 300;
    padding: 1rem;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 8px;
>>>>>>> 9c553b61de21c417676afb8a054a76c222dbb73e
}