.app {
    width: 320px;
    height: 568px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 2rem;
}

.top {
    height: 250px;
    padding: 0 20px;
}

.display {
    font-size: 130px;
    margin-bottom: 20px;
}